{% extends "layout.html" %}

{% block title %}
Books
{% endblock %}

{% block body %}

<form action="{{ url_for('review') }}" method="post">
  <div class="col">
    <label>Search for Book</label>
    <input type="text" class="form-control" placeholder="ISBN/Title/Author" name="bookid">
  </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<ul>
  {% for book in books %}
  <li>
    <a href="{{url_for('bookreview', isbn=book.isbn)}}">
      ISBN: {{book.isbn}}  Author:{{book.author}} Title: {{book.title}}
    </a>
  </li>
  {% endfor %}
<ul>

{% endblock %}
